// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// layout guest app
nav{
    position: relative;
    img{
    position: absolute;
    margin: 1rem;
    }
}
h1{
    text-align: center;
    margin: 3rem;
}
ul.first_nav, ul.second_nav{

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    height: 6rem;
    align-items: center;
    margin: 0;
    li{
        margin: 2rem;
    }
}
ul.first_nav{
    background-color: $blue;
}

// main section guest

.comic_banner{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    height: 500px;
    .card_comic{
        a{
             
            img{
                transition: 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    
                }
            }
        }
    }
}


// footer section
.footer_list{
    display: flex;
    height: 20rem;
    background-image: url('../../public/img/footer-bg.jpeg');

}
.banner_footer{

    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        height: 80%;
    }
    ul{
        // width: 50%;
        list-style-type: none;
        display: flex;
        li{
            margin: 1rem;
        }
    }
}

