.banner_box{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    &:hover{
        height: 40rem;
    }
}
.cover_box{
    position: relative;
    height: 5rem;
    background-color: $blue;
    img{
        position: absolute;
        transform: translate(60%, -85%);
    }
}